<h2>Search Books</h2>
<form action="/books" method="GET">
    <div>
        <label>Title</label>
        <input type="text" name="title" value="<%= searchOptions.title  %>">
        
    <div>
        <label>Published After</label>
        <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter  %>">
    </div>
    <div>
        <label>Published Before</label>
        <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore  %>">
    </div>
    <button type="submit">Search</button>
    </div>
</form>
<br>
<div>
    <% books.forEach(book => { %>
        <img height="150" width="100" src="<%= book.coverImagePath %>">
            <!-- < % = > or < % - > both work here -->
    <% }) %>
</div>
<!-- This loops through all of the authors in the database and brings them up in a list -->

<!-- The < % % > allows insertion of JS code into ejs, putting an = at the end of the first percent 
sign is for assignment, and a - at the end is for output/displaying/rendering  -->