<% if (locals.errorMessage != null) {%>
<div class="error-message"><%= errorMessage %></div>
<% } %> <!-- This needs to be wrapped in an if statement because sometimes the errorMessage doesn't exist -->