<!-- Typing in ! into VSCode and hitting enter will automatically create an html template -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet" />
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    <script defer src="/javascripts/fileUpload.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Digital Library</title>
</head>

<body>
    <div class="container">
        <%- include('../partials/header.ejs') %> <!-- 1  -->
            <div class="inner-container">
                <%- include('../partials/errorMessage.ejs') %>
                <%- body %> <!-- This is EJS code, the word 'body' is used to include the content/body of other ejs files depending on the URL -->
            </div>
    </div>
</body>

</html>

<!-- 1)two'.'s takes us out 2 levels, into the layouts folder, and then the views folder, then /partials/header
    takes us into the partials folder and then the header.ejs file inside, unlike a JS file, an EJS file needs
    to have the file type added on to the very end, so /partials/header would work in a .js file, but since
    this is a .ejs file it needs to be /partials/header.ejs. Also since this is a partials file, with the way 
    it is imported it will be rendered everytime, so this means that the links will always be there on the top, 
    regardless of the URL  -->