<!-- Typing in ! into VSCode and hitting enter will automatically create an html template -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Library</title>
</head>

<body>
    Before
    <br>
    <%- body %> <!-- This is EJS code, the word body is used to include the content/body of every other ejs file -->
        <br>
        After
</body>

</html>