<div class="form-row">
     <div class="form-item">
          <label>Name</label>
          <input type="text" name="name" value="<%= author.name %>"> <!-- 1) -->
     </div>
</div>

<!-- The underscore used at the front of the file name is a naming convention to indicate to the dev that it is a partials file -->

<!-- name is the name of the input, useful for methods like body.name
     (name has to be the same string as what was defined in name, so if
      name was name1, it would be body.name1) to specify an input, and
       value is the default value -->